body{
    --inaltime-meniu:30px;
    --latime-buton:16.6%;
    --culoare-meniu: #D4E3ED;
    --culoare-meniu-selectat:#A1897F;
    --latime-bord-meniu:1px;
}

::cue{
    background:rgba(255, 255, 255, 0.300);
    
    font-style:italic;
    color: black;
   }
   

ul.meniu{
    display:flex;
    padding:0;
    margin:0;
    list-style-type: none;
}
ul.meniu li a{
    display:block;
    height:100%; 
}

 ul.meniu>li {
    height: var(--inaltime-meniu);
    overflow:hidden;
    line-height: var(--inaltime-meniu);
    vertical-align: middle;
    border:var(--latime-bord-meniu) solid black;
    text-align: center;

}
ul.meniu li{
    width:100% !important;
 } 

 /* DESIGN MENIU HOVER */

ul.submeniu
{
    list-style-type: none;
    z-index:10px;
    position:relative;
    left:-1px;
    padding:0;
    margin:0;
    display:none;

}
 /* SFARSIT DESIGN MENIU HOVER */


ul.meniu li:hover ul{
    transform-origin: left top;
    animation-name: animatie_submeniu;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    opacity:0;
    display:block;
}

ul.meniu li{
    height: var(--inaltime-meniu);
    border:var(--latime-bord-meniu) solid black;
    width:var(--latime-buton);
}

ul.meniu li{
    cursor:pointer;
    background-color: var(--culoare-meniu);
    transition:all 0.7s linear;
}
/* ZONA ANIMATII !! */

ul.meniu>li:hover:nth-child(1),li:hover:nth-child(5),li:hover:nth-child(6){ 
    background-color: var(--culoare-meniu-selectat);
    animation: umbre;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transform-origin: 50% 0;
    display:block;
    overflow:visible;
}
ul.meniu>li:hover:nth-child(3),li:hover:nth-child(4),li:hover:nth-child(2){ 
    background-color: var(--culoare-meniu-selectat);
    display:block;
    overflow:visible;
}

ul.submeniu>li:hover{
    background-color: var(--culoare-meniu-selectat);
    display:block;
    overflow:visible; 
}

li.meniu2:hover
{
    animation: none;
}

/* SFARSIT ZONA ANIMTATII */

ul.meniu a{
    color:black;
    text-decoration:none;
}

nav{
    height:var(--inaltime-meniu);
    background-color: var(--culoare-meniu);
    overflow: visible;
    position: relative;
    width:100%;
    position:sticky;
    top:0;
    z-index: 100;
}

#hamburger, #ch-menu{
    display:none;
}

@keyframes animatie_submeniu {
    0%{
        transform: scaleY(0);
        
    }
    100%{
        transform: scaleY(1);
        
        opacity:1;
    }
}


:root {
    --text_color:rgba(0, 0, 0, 0.581);
    --color-primary: #f6aca2;
    --color-secondary: #f49b90;
    --color-tertiary: #f28b7d;
    --color-quaternary: #f07a6a;
    --color-quinary: #ee6352;
}


@keyframes umbre {
    0% {
      text-shadow: none;
      text-shadow: 0px -20px 0 var(--text_color);
    }
    50% {
      text-shadow: 0px -10px 0 var(--text_color);
    }
    100% {
        text-shadow: 0px 0px 0 var(--text_color);
      text-shadow: none;
    }
  }

  /* BUTON LINK-TOP */

#triunghi {
    height: 0px;
    width: 0px;
    position: absolute;
    top: 12%;
    left: 9%;
    /* margin: -50px 0 0 -50px; */
    display: inline-block;
    border-bottom: 1.8rem solid grey;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    /* vertical-align: top; */
    transform: translateY(30%);
    transform:rotate(-45deg);
    border-radius: 80%;
} 
#link-top {
    position: fixed;
    bottom: 0.7em;
    opacity: 0.5;
    left: 0.7em;
    width: 2.7rem;
    box-sizing: border-box;
    height: 2.7rem;
    line-height: 3rem;
    text-align: center;
    border: 1px solid grey;
    /* border-radius: 50%; */
    transform:rotate(45deg);
    background: rgb(220,220,220);
}
#link-top:hover{
    transition-duration: 1s;
    opacity:1;
    background-color: lightgray;
  }
#link-top:hover #triunghi
{
    transition-duration: 1s;
    border-bottom: 1.8rem solid white;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

/* SFARSIT BUTON LINK-TOP */

/* START STILIZARE TABURI*/

.flexbox {
    display:flex;
    position: relative;
    left:30%
    
}

.rectangle_link{
    
    height: 37px;
    width: 120px;
    background-color: #C8D7E0;
    /* box-shadow: #8C3037; */
    border-style: double;
    border:1.2px solid black;
    border-left-width: 3px;
    border-left-color: black;
    box-shadow: 0,0,0,var(1.2px, solid black);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position:relative;
    text-align: center;
    transition: width 0.5s;

}

.rectangle_link a{
    position: relative;
    top:-35%;
    text-decoration: none;
    text-align: center;
    
}

.rectangle_link:hover {
    
    transition:1s;
    background-color: #948D75;
    
}
.inline{
    left:10px;
    
}
.videobox{
    border-style: double;
    border:1.2px solid black;
}

/* SFARSIT STILIZARE TABURI */

/* STILIZARE TABEL */

table, td, th { 

    font-size: 15px;
    text-align: center;
}

table {
    border-collapse: separate;
    width: 100%;
    border-spacing: 2px;
    border: 5px solid #732937 ;
    border-style: inset;
}

th, td {
    padding: 5px;
}

th:hover,td:hover{

    outline: 5px;

}

td.impar{
    border-left: 3px solid #F2F2E9;
    border-right: 3px solid #948D75;
}

th,td.par{
    border-left: 3px solid #F2F2E9;
    border-right: 3px solid #732937;
}

tr:hover {
    /* outline: 5px solid rgba(151, 85, 85, 0.7); */
    box-shadow: 5px 5px #888888;
    transition: 0.5s;
}

th.impar{
    border-left: 3px solid #F2F2E9;
    border-right: 3px solid #948D75;
}
thead td,th{
    border-bottom: 2px solid black;
}
tfoot td,th{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

/* SFARSIT STILIZARE TABEL */

/*shadow galerie*/

#text-reflectat{
	position:absolute;
	left:0;
	top:100%;
	transform-origin:0 0;
	/*conetaza ordinea transformarilor!*/
	transform: rotateX(180deg) skew(-45deg) scaleY(0.5) translate(10px,-25px); 
	opacity:0.55;
}

#text{	
	position:relative;
}

#text, #text-reflectat{
	font-size:50px;
	line-height:50px;
	font-weight: bold;
}

/*Sfarsit shadow galerie*/

/*Etapa 4 cerinta 5*/

#imagine{
position: relative;
background-image: url(https://cdn.shopify.com/s/files/1/0338/0169/9387/collections/TL-online-store-cata-banner-guitars_1200x1200.jpg?v=1602054494);
background-size: cover;
width: 500px;
height: 500px;
filter: brightness(200%) grayscale(0);
transition: all 2s linear;
}s
#imagine:before {
    background-color: rgb(205,0,255);
    mix-blend-mode: darken;
    
}

#imagine:after {
    background-color: rgb(0,0,255);
    mix-blend-mode: lighten;
}

#imagine:after, #imagine:before {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 2s linear;;
   
}
