<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Music Master</title>
        <meta name="keywords" content="chitara, pian, oraga, acordeon, clarinet, fluier, intrumente muzicale, magazin de muzica" >
        <meta name="description" content="Vanzare de instrumente muzicale - Site dedicat toturor pasionatiolor de muzica." >
        <link rel="stylesheet" href="resurse/css/nav.css" type="text/css" />
        <link rel="stylesheet" href="resurse/css/nav-750.css" type="text/css" media="screen and (max-width:750px)" />
        <link rel="stylesheet" href="resurse/css/layout.css" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <%- include("../fragmente/head.ejs") %>

    </head>

    <body>
        <%- include("../fragmente/header.ejs") %>
            <nav>
                <label id="hamburger" for="ch-menu">
                    <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
                </label>
                <input id="ch-menu" type="checkbox">
                <ul class="meniu">
                    <li><a href="#"> <i class="fa-solid fa-house"></i> Acasa</a>
                    </li>



                    <li class="meniu2"><a href="#">Chitare</a>
                        <ul class="submeniu">
                            <li><a href="#">Chitara clasica</a></li>
                            <li><a href="#">Chitara rock</a></li>
                            <li><a href="#">Chitara bass</a></li>
                            <li><a href="#">Chitara acustica</a></li>
                        </ul>

                    </li>
                    
                    <li><a href="#">Piane si orgi</a>
                        <ul class="submeniu">
                            <li><a href="#">Pian</a></li>
                            <li><a href="#">Pianina</a></li>
                            <li><a href="#">Orga</a></li>
                        </ul>

                    </li>

                    <li><a href="#">Altele</a>
                        <ul class="submeniu">
                            <li><a href="#">Accesorii chitara</a></li>
                            <li><a href="#">Solutie curatat</a></li>
                            <li><a href="#">Partituri</a></li>
                        </ul>

                    </li>
                    <li><a href="#">Inregistrare</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>

            </nav>
           
        
      
        <main>
            <p>Ceva despre firma.</p>
        </main>
    
        <%- include("../fragmente/footer.ejs") %>

    </body>

   
</html>
   