<footer>
    <a href="#" title="mergi sus" id="link-top"></a>
    <br>
    <p>Pentru orice nelamurire ne puteti contacta:</p>
    <ul>
        <li>Telefon: <a href="tel:0721694659">0721694659</a></li>
        <li>Email: <a href="mailto:george.buturuga@s.unibuc.ro">george.buturuga@s.unibuc.ro</a></li>
        <li>Adresa: <a href="https://maps.google.com/?q=FacultateaDeMatematicaSiInformatica" target="_blank">Vezi adresa in google maps</a> </li>
        <li>Ne puteti gasii si pe WhatsApp: <a href="https://wa.me/40721694659">aici</a></li>
    </ul>
    <small>&#169; Pagina a fost creata la data de <time datetime="2020-10-22">22 Octombrie 2022</time></small>
    <br>

    <a title="Mergi inapoi sus!" href="#" id="link-top">
        <div id="triunghi"></div>
    </a>
    
</footer>