<header id="h1">
    <figure>
        <figure>
            <a href="/home" ><img class="logo" src="resurse/imagini/logo1.png"/></a>
        </figure>
        <!-- <h1> <img class = "logo" src="resurse/imagini/logo1.png" alt="logo"> </h1> -->
        
    </figure>
</header>